body{
	background-image: url("background.jpeg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	padding:20px;
	background-size: cover;

}

h1{
	color: #FFF;
	font-family: Arial;
	font-size: 250%;
}

h3{
	margin-top: 0%;
	color:#FFF;
	font-size: 300%;
	font-family: Arial;
	margin-top: 30px;
	margin-bottom: 30px;
}

h2{
	margin-top: 20px;
	color:#FFF;
	font-size: 100%;
	font-family: Arial;
}

h4{
	color:#FFF;
	font-size: 350%;
	font-family: Arial;
	margin-top: 30px;
	margin-bottom: 30px;
}

h5{
	color:#AAA;
	font-size:200%;
	font-family: Arial;
	margin-left: 5vw;
	margin-right: 5vw;
}
label{
	color:#AAA;
	font-size:90%;
	font-family: Arial;
	margin-left: 1vw;
}

.box-1{
	position:relative;
	text-align: center;
	background-color: #FFF;
	width: 85%;
	margin-left: auto;
    margin-right: auto;
	height:auto;
}
	
.midden{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.box-PIC1{
	width: 85%;
	margin-left:auto;
	margin-right:auto;
}

.box-PIC2{
	width: 85%;
	margin-left:auto;
	margin-right:auto;
}

.box-PIC3{
	width: 85%;
	margin-left:auto;
	margin-right:auto;
}

.box-TEXT{
	
	text-align:center;
	position: relative;
	background-color:#2699FB;
	width: 85%;
	overflow: hidden;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}

.box-TEXTPR{	
	text-align:center;
	position: relative;
	background-color:#2699FB;
	width: 85%;
	overflow: hidden;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}

.box-NAAM{
	text-align:center;
	position: relative;
	background-color:#000;
	width: 85%;
	overflow: hidden;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	height:60px;
}

.box-KADER{
	position:relative;
	overflow:hidden;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

.navbar{
	width: 85%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#DOBimg{
	padding: 0%;
	position:relative;
	float: left;
	margin: 1.1%;
	width: 31%;
	height: 20vw;
	top: 0px;
	object-fit: cover;
	overflow: hidden;	
}

#MIDimg{
	width:100%;
	height:auto;
	
}

#OMSLAGimg{
	padding: 0%;
	position:relative;
	float:center;
	width: 100%;
	height: 20vw;
	top: 0px;
	object-fit: cover;
	overflow: hidden;	
}

#INDEXimg{
	width: 100%;
	height: auto;
}

fieldset{
	width: 94%;
	border: none;
}

#vak{
	width:100%;
}

#knop{
	position:relative;
	width: 97%;
	color:#FFF;
	height: 10vw;
	margin-top:3vw;
	margin-left: 1.5%;
	margin-right: 1.5%;
	font-size: 5vw;
	background-color: #2699FB;
	border: none;
	overflow:hidden;
}

textarea{
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	font-family: Arial;
    background-color: #707070;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/*-----tablet-----------------------------------------------------*/

@media (max-width: 960px) and (min-width: 360px)
{
	body{
		margin:0;
		padding:0;
	}
	
	h1{
		color: #FFF;
		font-family: Arial;
		font-size: 250%;
	}

	h3{
		margin-top: 0%;
		color:#FFF;
		font-size: 300%;
		font-family: Arial;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	h2{
		margin-top: 20px;
		color:#FFF;
		font-size: 100%;
		font-family: Arial;
	}

	h4{
		font-size:0;
	}

	h5{		
		font-size:0%;
	}
	
	label{
		color:#AAA;
		font-size:90%;
		font-family: Arial;
		margin-left: 1vw;
	}
	
	.box-1{
	position:relative;
	text-align: center;
	background-color: #FFF;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
	height:auto;
	}
	
	.midden{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	
	.navbar{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
	
	.box-TEXT{
	
	text-align:center;
	position: relative;
	background-color:#2699FB;
	width: 100%;
	overflow: hidden;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	}
	
	.box-TEXTPR{
	width:0;
	height:0;
	}
	
	
	.box-KADER{
	position:relative;
	overflow:hidden;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	}
	
	.box-PIC1{
	width: 47.5%;
	height:0vw;
	margin-left:auto;
	margin-right:auto;
	padding: 1.1%;
	float:left;
	background-color: #FFF;
	}
	
	.box-PIC2{
	width: 0;
	height: 0;
	}
	
	.box-PIC3{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
	}
	
	.box-NAAM{
	text-align:center;
	position: relative;
	background-color:#000;
	width: 100%;
	overflow: hidden;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	height:60px;
	}
	
	.box-WIT{
	position:relative;
	overflow:hidden;
	width: 100%;
	height:7vw;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	}
	
	#MIDimg{
	padding: 0%;
	position:relative;
	float: left;
	margin: 1.1%;
	width: 100%;
	height: 40vw;
	top: 0px;
	object-fit: cover;
	overflow: hidden;	
	}

	#INDEXimg{
	width: 97.8%;
	height: auto;
	margin:1.1%
	}
	
	#DOBimg{
	padding: 0%;
	position:relative;
	float: left;
	margin: 1.1%;
	width: 47.7%;
	height: 20vw;
	top: 0px;
	object-fit: cover;
	overflow: hidden;	
	}
	
	select{
	width:100%;
	margin-top: 1vw;
	}

}


/*-----Mobile----------------------------------------------------*/


@media (max-width: 360px){
	
	body{
		margin:0;
		padding:0;
	}
	
	h1{
		color: #FFF;
		font-family: Arial;
		font-size: 250%;
	}

	h3{
		margin-top: 0%;
		color:#FFF;
		font-size: 300%;
		font-family: Arial;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	h2{
		margin-top: 20px;
		color:#FFF;
		font-size: 100%;
		font-family: Arial;
	}

	h4{
		color:#FFF;
		font-size: 350%;
		font-family: Arial;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	h5{
		color:#AAA;
		font-size:100%;
		font-family: Arial;
		margin-left: 5vw;
		margin-right: 5vw;
	}
	label{
		color:#AAA;
		font-size:90%;
		font-family: Arial;
		margin-left: 1vw;
	}
	.box-1{
		position:relative;
		text-align: center;
		background-color: #FFF;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height:auto;
	}	
	.midden{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	.navbar{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
	
	.box-TEXT{
	text-align:center;
	position: relative;
	background-color:#2699FB;
	width: 100%;
	overflow: hidden;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	}
	.box-KADER{
	position:relative;
	overflow:hidden;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	}
	.box-TEXTPR{
	width:0;
	height:0;
	}
	.box-PIC1{
	width: 97%;
	height:0vw;
	margin-left:auto;
	margin-right:auto;
	padding: 1.1%;
	float:left;
	background-color: #FFF;
	}
	
	.box-PIC2{
	width: 97%;
	height:0vw;
	margin-left:auto;
	margin-right:auto;
	padding: 1.1%;
	float:left;
	background-color: #FFF;
	}
	
	.box-PIC3{
	width: 97%;
	height:0vw;
	margin-left:auto;
	margin-right:auto;
	padding: 1.1%;
	float:left;
	background-color: #FFF;
	}
	#DOBimg{
	padding: 0%;
	position:relative;
	float: left;
	margin: 1.1%;
	width: 97%;
	height: 40vw;
	top: 0px;
	object-fit: cover;
	overflow: hidden;	
	}
	#MIDimg{
	padding: 0%;
	position:relative;
	float: left;
	margin: 1.1%;
	width: 97%;
	height: 40vw;
	top: 0px;
	object-fit: cover;
	overflow: hidden;	
	}
	#INDEXimg{
	width: 97.8%;
	height: auto;
	margin:1.1%
	}
	

}
